<div *ngIf="artista" class="container top-30">
  <div class="row">

    <div class="col-md-3 text-center">
      <img src="" alt="">
      <br>
    </div>

    <div class="col-md-9">
      <h3>Nombre del artista<small>Popupalidad: "pupularidad del artista"</small></h3>
      <hr>
      <a href="">Ver Pagina</a>
      <a href="">Regresar</a>
    </div>

  </div>
</div>

<div *ngIf="pista" class="container top-30">
  <h3>Top de: "nombre del artista"</h3>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Cacion</th>
              <th>Populaidad</th>
              <th>Preview</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>"numero"</td>
              <td>"img"</td>
              <td>"cancion nombre"</td>
              <td>"popularidad de la cancion"</td>
              <td>"preview"</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

  </div>
</div>
