<h1>{{ heroe.nombre }} <small>{{ heroe.aparicion | date: 'y' }}</small></h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <br>
    <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>{{ heroe.bio }}</p>
    <div>
      <h2 *ngIf="heroe.casa == 'DC'">DC</h2>
      <h2 *ngIf="heroe.casa == 'Marvel'">Marvel</h2>
    </div>
  </div>
</div>
